{% extends 'pages/base.html' %}
{% load static %}

{% block content %}

        <!-- start banner Area -->
        <section class="banner-area relative" id="home">
            <div class="container">
                <div class="overlay overlay-bg"></div>
                <div class="row fullscreen d-flex align-items-center justify-content-start">
                    <div class="banner-content col-lg-8 col-md-12">
                        <h1 class="text-uppercase">
                             Protect wildlife, <br>
                             protect nature	
                        </h1>
                        <p class="text-white sub-head">
                            We’re in the process of bringing about the extinction of all of the species we most care about — including our own.
                        </p>
                        
                    </div>											
                </div>
            </div>
        </section>
        <!-- End banner Area -->

        <!-- Start image-carusel Area -->
        <!-- <section class="image-carusel-area">
            <div class="container">
                <div class="row">
                    <div class="active-image-carusel">
                        <div class="single-image-carusel">
                            <img class="img-fluid" src="{% static 'img/c1.jpg' %}" alt="">
                        </div>
                        <div class="single-image-carusel">
                            <img class="img-fluid" src="{% static 'img/c2.jpg' %}" alt="">
                        </div>
                        <div class="single-image-carusel">
                            <img class="img-fluid" src="{% static 'img/c3.jpg' %}" alt="">
                        </div>
                            
                        <div class="single-image-carusel">
                            <img class="img-fluid" src="{% static 'img/c1.jpg' %}" alt="">
                        </div>
                        <div class="single-image-carusel">
                            <img class="img-fluid" src="{% static 'img/c2.jpg' %}" alt="">
                        </div>
                        <div class="single-image-carusel">
                            <img class="img-fluid" src="{% static 'img/c3.jpg' %}" alt="">
                        </div>
                        <div class="single-image-carusel">
                            <img class="img-fluid" src="img/c4.jpg" alt="">
                        </div>
                        <div class="single-image-carusel">
                            <img class="img-fluid" src="img/c1.jpg" alt="">
                        </div>
                        <div class="single-image-carusel">
                            <img class="img-fluid" src="img/c2.jpg" alt="">
                        </div>
                        <div class="single-image-carusel">
                            <img class="img-fluid" src="img/c3.jpg" alt="">
                        </div>
                        <div class="single-image-carusel">
                            <img class="img-fluid" src="img/c4.jpg" alt="">
                        </div>															
                    </div>
                </div>
            </div>	 -->
        </section>
        <!-- End image-carusel Area -->
        
        <br>
        <br>
        <br>
        
        <!-- Start home-about Area -->
        <section class="home-about-area">
            <div class="container-fluid">
                <div class="row align-items-center">	
                    <div class="col-lg-6 home-about-left no-padding">
                        <img src="{% static 'img/lion.jpg' %}" alt="{% static 'img/about-img.jpg' %}">
                    </div>
                    <div class="col-lg-6 home-about-right no-padding">
                        <h1>
                            WE ARE AN ANTI-POACHING FOUNDATION

                        </h1>
                        
                        <p>
                            Anti-poaching rangers form the first and last line of defence for nature. Without the right training, equipment, management and support they cannot protect the World’s natural heritage for future generations.<br><br>

                            The IAPF builds and leads large scale conservation operations, maintaining a strong focus on community development in order to conserve biodiversity.<br><br>

                            The requirement for inspiring urgent action towards the safekeeping of the planet cannot be overstated. This responsibility should transcend all levels of industry, business and society as we strive for a generation of people that give, not take. Increasing pressure on the world’s natural assets is simply not sustainable.
                        </p>
                    </div>
                </div>
            </div>	
        </section>
        <br>
        <br><br>
        <!-- Start calltoaction Area -->
        <section class="calltoaction-area section-gap relative">
            <div class="container">
                <div class="overlay overlay-bg"></div>						
                <div class="row align-items-center justify-content-center">
                    <h1 class="text-white">Want to help?.....FUNDRAISE</h1>
                    <p class="text-white">
                    Just because you are not on the front line doesn’t mean you can’t have an impact on the front line. A major component of fighting any battle is administration and logistics. Every person has the potential to have a significant impact on the future of this Earth’s magnificent animals regardless of their location and skills. Awareness is the biggest key. The world needs to know what is happening and hopefully one day enough people will yell and stamp their feet, governments will listen and things will move faster. Until this happens, the only way to stop the slaughter is out there on the front line — day in, day out. Unfortunately this takes money and for this we really need you as part of our fundraising army. We really look forward to having you as part of the IAPF team and help us to continue towards our dream where wildlife can one day walk in harmony with man. 
                    </p>
                    
                </div>
            </div>	
        </section>
        <!-- End calltoaction Area -->
        
       
{% endblock %}